/* Put your custom styles here and run `npm start` from the "src" directory on */

:root {
  --color-accent: #357edd;
  --color-accent-dark: #00449e;
  --color-border: #ccc;
  --color-bg-subtle: #f4f4f4;
}

#TableOfContents ul li {
  margin-bottom: 1em;
}

.lh-copy blockquote {
  display: block;
  font-size: .875em;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-left: 4px solid var(--color-border);
  padding-left: 1rem;
}

.nested-links a {
  overflow-wrap: break-word;
}
